/* Add a black background color to the top navigation bar */
.topnav {
	width: 90%;	
    overflow: hidden;
	background-color: #e9e9e9;
	position: fixed;
	left: 5%;
	margin-top: 25px;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #black;
    color: black;
}

/* Style the "active" element to highlight the current page */
.topnav a.active {
    background-color: #2196F3;
    color: white;
}

/* Style the search box inside the navigation bar */
.topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
	font-size: 17px;
	width: 60%;
}

.closeLink {
	float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
    .topnav a, .topnav input[type=text] {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }
    .topnav input[type=text] {
        border: 1px solid #ccc;
    }
}

.planetList {
	position: fixed;
	margin-top: 100px;
	width: 90%;
	left: 5%;
	height: 90%;
	border: 1px solid green;
	overflow-y:scroll;
}

.listing {
	width: 100%;
}

ul {
    list-style-type: none;
    margin: 10px 0 0 25px;
	padding: 0;
	overflow-y:scroll;
	height: auto;
}

.licss {
	height: 50px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 25px;
	font-weight: bold;
	cursor: pointer;
}

.popupBox {
	position: absolute;
	left: 17%;
	width: 70%;
	height: 100%;
	z-index: 1;
	background: white;
	display: block;
}

.planetInfoUL {
    list-style-type: none;
    margin: 10px 0 0 25px;
	padding: 0;
	overflow-y:scroll;
	height: auto;
	text-align: left;
}

.planetInfo {
	height: 25px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	cursor: pointer;
}

.transparent-div {
	position: fixed;
		width: 340px;
		height: 280px;
		top: 50%;
		left: 50%;
		margin-top: -140px;
		margin-left: -170px;
		background: #fff;
		border-radius: 3px;
		border: 1px solid #ccc;
		box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
		z-index: 1;
		opacity:0.50;
		align-content: center;
	}